{% extends 'layout.html' %}
{% block body_content %}

<h2> Want to start posting, Sign up here </h2>

<div class='form'>
	<form method='POST' action=''>
		{{ form.hidden_tag() }}
		<div class='form_group'>
			{{ form.email.label }}
			{{ form.email }}
			{% if form.email.error %}
			 <div class='error'>
				 {% for error in form.email.errors %}
				 <span>{{ error }}</span>
				 {% endfor %}
			</div>
			{% endif %}
		</div>
	<br>
	{{ form.password.label }}
	{{ form.password }}
	</br>
	<br>
	{{ form.confirm_password.label }}
	{{ form.confirm_password }}
	</br>
	<br>
	<div class='form_group'>
		{{ form.submit }}
	</div>
</form>
</div>

{% endblock %}
