{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
	<br>
	{{ form.comment_id.label }}
	{{ form.comment_id }}
            <br>
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.content.label }}
            {{ form.content }}
            <br>
            {{ form.player.label }}
            {{ form.player }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
